<div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="#join">Join</a></li>
        <li class="tab"><a href="#create">Create</a></li>
    </ul>
</div>
<div id="create">
    <h3>🏆 Create a Leaderboard</h3>

    <div class="section">
        <p class="lead">Fill out the following fields to create a custom leaderboard</p>
    </div>
    <div class="row">
        <form  method="post" class="col s12" action="/leaderboards/add/create">
                <div class="input-field col s12">
                    <input id="icon_prefix" type="text" class="validate" name="name">
                    <label for="icon_prefix">Leaderboard Name</label>
                </div>
                <div class="input-field col s12">
                    <input id="icon_prefix" type="password" class="validate" name="password">
                    <label for="icon_prefix">Password (optional)</label>
                </div>
                <div class="input-field col s12">
                    <select multiple name="questionDifficulties">
                        <option value="" disabled>Choose your option</option>
                        <option value="Easy">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Hard">Hard</option>
                    </select>
                    <label>Question Difficulties</label>
                </div>

                <div class="input-field col s12">
                    <select name="questionFrequency">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="Every 12 Hours">Every 12 Hours</option>
                        <option value="Daily">Daily</option>
                        <option value="Weekly">Weekly</option>
                    </select>
                    <label>Question Frequency</label>
                </div>
            <div class="row s12">
                <a class="waves-effect waves-teal btn-flat" href="/leaderboards">Cancel</a>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
            </div>
        </form>
    </div>
</div>
<div id="join">
    <h3>🏆 Join a Leaderboard</h3>

    <div class="section">
        <p class="lead">Search for a leaderboard by name to join leaderboard</p>
    </div>
    <div class="row">
        <form  method="post" class="col s12" action="/leaderboards/add/search">
            <div class="input-field col s12">
                <input id="icon_prefix" type="text" class="validate" name="name">
                <label for="icon_prefix">Leaderboard Name</label>
            </div>
            <div class="row s12">
                <a class="waves-effect waves-teal btn-flat left" href="/leaderboards">Cancel</a>
                <button class="btn waves-effect waves-light right" type="submit" name="action">Search</button>
            </div>
        </form>
        {{#if results}}
            <ul class="collection">
                {{#each results}}
                    <li class="collection-item">
                        <div>
                            <div class="center-vertically space-between">
                                <div class="center-vertically">
                                    {{#if password}}
                                        <i class="material-icons">lock_outline</i>
                                    {{else}}
                                        <i class="material-icons">lock_open</i>
                                    {{/if}}
                                    <div style="padding-left: 5px;">
                                        <span class="left">{{name}}</span> <br>
                                        <p class="small-text grey-text left">Admin: 
                                            {{#each users}}
                                                {{user.displayName}} 
                                            {{/each}}
                                        </p>
                                    </div>
                                </div>
                                <form  method="post" action="/leaderboards/add/join">
                                    <input type="hidden" name="_id" value="{{_id}}">
                                    {{#if alreadyJoined}}
                                        <button class="btn-flat disabled right" type="submit" name="action">Joined</button>
                                    {{else}}
                                        <button class="btn-flat waves-effect waves-light right" type="submit" name="action">Join</button>
                                    {{/if}}
                                </form>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p class="grey-text">No results found</p>
        {{/if}}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, null);
    });

  $(document).ready(function(){
    $('.tabs').tabs();
  });
</script>